@model IEnumerable<LeaseWebAssignment.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by registration number: @Html.TextBox("regNbrSearchString")
    </p>
    <p>
        Find by email: @Html.TextBox("emailSearchString")
    </p>
    <p>
        Select Country: @Html.DropDownList("SelectedCountry", "All")
    </p>
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Customer since", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>
    <!--
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>
        -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modlItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerSince)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.registrationNbr }) |
                @Html.ActionLink("Details", "Details", new { id = item.registrationNbr }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.registrationNbr })
            </td>
        </tr>
    }

</table>
